@media only screen and (min-width: 1024px) and (max-height:640px) {
#hero {
  h1 {
    font-size: 60px;
    line-height: 60px;
  }

  .desc {
    margin-top:40px;
    p {
      font-size: 16px;
      line-height: 28px;
    }
  }
}

#articles {
  article {
    .image-wrapper {
      min-height: 512px;
      height: auto;
      img {
        min-height: 512px;
        height: auto;
      }
      .overlay {
        min-height: 512px;
        height: auto;
      }
    }
  }
}

}
