@media only screen and (min-width: 641px) and (max-width: 1023px) {

#article {
  .image-wrapper {
    min-height: 384px;
    height: auto;
    img {
      min-height: 384px;
      height: auto;
    }
    .overlay {
      min-height: 384px;
      height: auto;
    }
    .title-date {
      h2 {
        margin-left:10px;
      }

      .tags {
        margin-left:10px;
      }
    }

  }
  .post-ctas {
    div {
      margin-top:10px;
    }
  }
}

#articles {
  article {
    .image-wrapper {
      min-height: 384px;
      height: auto;
      img {
        min-height: 384px;
        height: auto;
      }
      .overlay {
        min-height: 384px;
        height: auto;
      }
    }
  }
}

#small-hero {
  background-size:15%;
}

#hero {
  position:relative;
  background-size:35%;
  padding-bottom:80px;
  .bottom-contact-down {
    bottom:40px;
  }
}

#slides {
  article {
    .content {
      h2 {
        font-size:24px;
      }
    }
  }
}

}
