@media only screen and (max-width: 1279px) {
body {
  overflow-x: hidden;
}

#hero,
.article-content,
.excerpt,
#small-hero,
.job_item {
  padding-left:10px;
  padding-right:10px;
}
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
#hero {
  background-size:40%;
}

#small-hero {
  background-size:12%;
}


#articles {
  article {
    .image-wrapper {
      min-height: 512px;
      height: auto;
      img {
        min-height: 512px;
        height: auto;
      }
      .overlay {
        min-height: 512px;
        height: auto;
      }
    }
  }
}

#article {
  .image-wrapper {
    min-height: 512px;
    height: auto;
    img {
      min-height: 512px;
      height: auto;
    }
    .overlay {
      min-height: 512px;
      height: auto;
    }
  }


}


}
