
@import "_media/short-laptop.scss";
@import "_media/laptop.scss";
@import "_media/tablet.scss";
@import "_media/mobile-large.scss";
@import "_media/mobile.scss";

@media only screen and (max-width: 760px) {
#small-hero {
  .social {
    margin-top:21px;
    .text {
      display: none !important;
    }
  }
}
}

@media only screen and (max-width: 1024px) {
#mobile-share {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: $orange;
    height: 40px;
    .inner {
      h4 {
        display: block !important;
      }
      width:180px;
      display: block;
      margin:auto;
    }
}
}

@media only screen and (min-width: 1025px) and (max-width: 1077px) {
#mobile-share {
  .inner {
    h4 {
      display: none !important;
    }
  }
}
}
