/* ---------------------------------------------------------------------------------------------------- */
/* mixin ---------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */

@mixin offcanvas {
  left:0;
  position: relative;
  @include transition(.6s);
  &.open {
    position: fixed;
    left:260px;
    -webkit-box-shadow: -3px 0px 2px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    -3px 0px 2px 0px rgba(0, 0, 0, 0.5);
    box-shadow:         -3px 0px 2px 0px rgba(0, 0, 0, 0.5);
    z-index:400;
  }
}

@mixin transition($time) {
  -webkit-transition: all $time ease-in-out;
     -moz-transition: all $time ease-in-out;
      -ms-transition: all $time ease-in-out;
       -o-transition: all $time ease-in-out;
          transition: all $time ease-in-out;
}

@mixin transition-opacity($time) {
  -webkit-transition: opacity $time ease-in-out;
     -moz-transition: opacity $time ease-in-out;
      -ms-transition: opacity $time ease-in-out;
       -o-transition: opacity $time ease-in-out;
          transition: opacity $time ease-in-out;
}

@mixin delay($time) {
  -webkit-transition-delay: $time;
     -moz-transition-delay: $time;
      -ms-transition-delay: $time;
       -o-transition-delay: $time;
          transition-delay: $time;
}

@mixin uppercase {
  text-transform: uppercase;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($top, $left, $blur, $spread, $color, $inset:"") {
  -webkit-box-shadow:$top $left $blur $spread $color #{$inset};
     -moz-box-shadow:$top $left $blur $spread $color #{$inset};
      -ms-box-shadow:$top $left $blur $spread $color #{$inset};
       -o-box-shadow:$top $left $blur $spread $color #{$inset};
          box-shadow:$top $left $blur $spread $color #{$inset};
}

@mixin rotate($deg) {
  -webkit-transform: rotate($deg);
     -moz-transform: rotate($deg);
      -ms-transform: rotate($deg);
       -o-transform: rotate($deg);
          transform: rotate($deg);
}

@mixin scale($scale) {
  -webkit-transform: scale($scale);
     -moz-transform: scale($scale);
      -ms-transform: scale($scale);
       -o-transform: scale($scale);
          transform: scale($scale);
}

@mixin cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

@mixin contain {
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
     -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

@mixin vertical-align-absolute {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
     -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.vertical-align {
  @include vertical-align;
}

@mixin delete-vertical-align {
  position: relative;
  top: 0;
  -webkit-transform: translate(0, 0);
     -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

@mixin content-box {
  -webkit-background-clip: content;
     -moz-background-clip: content;
      background-clip: content-box;
}

@mixin shadow {
  -webkit-box-shadow: 0 2px 5px -3px rgba(0,0,0,.1);
     -moz-box-shadow: 0 2px 5px -3px rgba(0,0,0,.1);
      -ms-box-shadow: 0 2px 5px -3px rgba(0,0,0,.1);
       -o-box-shadow: 0 2px 5px -3px rgba(0,0,0,.1);
          box-shadow: 0 2px 5px -3px rgba(0,0,0,.1);
}

@-webkit-keyframes loader-line {
  0% {
    left: -100%;
  }

  50% {
    left: 100%;
  }
}

@-moz-keyframes loader-line {
  0% {
    left: -100%;
  }

  50% {
    left: 100%;
  }
}

@keyframes loader-line {
  0% {
    left: -100%;
  }

  50% {
    left: 100%;
  }
}

@mixin loader-line {
  -webkit-animation: loader-line 2s infinite ease-in-out;
  -moz-animation: loader-line 2s infinite ease-in-out;
  animation: loader-line 2s infinite ease-in-out;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}
