$orange: #DF4B17;
$light-grey: #efefef;
$grey: #333;
$ubuntu: "Ubuntu";

@import "font-icon.scss";
@import "mixin.scss";

::selection {
  color:white;
  background-color: $orange;
  text-shadow: none;
}

::-moz-selection {
  color:white;
  background-color: $orange;
  text-shadow: none;
}

::-webkit-input-placeholder { color:$orange; }
::-moz-placeholder { color:$orange; }
:-ms-input-placeholder { color:$orange; }
input:-moz-placeholder { color:$orange; }

* {
  outline: none;
}

#cookie-notice {
  background:rgba(255,255,255,0.8) !important;
  .cookie-notice-container {
    color:$grey;
    font-family:Georgia;
    font-size:14px;
  }
  .cn-set-cookie {
    background:$orange !important;
    border:0 !important;
    text-shadow: none;
    color:white;
    font-family:$ubuntu;
    text-transform: uppercase;
  }
}

.loader {
  z-index:999999;
  height: 600px;
  @include vertical-align-absolute;
  left:50%;
  margin-left:-70px;
  position:fixed;
}

.load-wrapp {
  @include vertical-align-absolute;
  width: 140px;
  height: 60px;
  margin: 0px 10px 10px 0px;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  color: white;
  background-color: $orange;
}

.line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: white;
}

.load-2 .line:nth-last-child(1) {animation: loadingB 1.5s 1s infinite;}
.load-2 .line:nth-last-child(2) {animation: loadingB 1.5s .5s infinite;}
.load-2 .line:nth-last-child(3) {animation: loadingB 1.5s 0s infinite;}

@keyframes loadingB {
    0% {width: 15px;}
    50% {width: 35px;}
    100% {width: 15px;}
}

body {
  background:white;
  font-family: "Georgia", serif;


  .pace {
    display: block;
    background: rgba(255,255,255,0.9);
    z-index: 900;
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    &.pace-inactive {
      display: none;
      background: none;
    }
  }

  &.pace-done {
    .loader {
      display: none;
    }
  }
  &.pace-running {
    .loader {
      display: block;
    }
  }

}



.internal-menu {
  margin-top:25px;
  .social {
    margin-top:0;
    @include transition(.2s);
    &.fixed {
      position:fixed;
      z-index: 100;
      top:0;
    }
    ul {
      margin:0;
      padding:0;
      float: right;
      li {
        line-height: 30px;
        &.text {
          font-family: $ubuntu;
          font-size: 16px;
          text-transform: uppercase;
          color: $orange;
          margin-top:5px;
        }
        list-style:none;
        display: block;
        float: left;
        margin-right:10px;
        a {
          color: $grey;
          font-size: 20px;
          @include transition(.2s);
          &:hover {
            color: $orange;
          }
        }
      }
    }
  }
}

.social {
  margin-top:25px;
  @include transition(.2s);
  &.fixed {
    position:fixed;
    z-index: 100;
    top:0;
  }
  ul {
    margin:0;
    padding:0;
    float: right;
    line-height: 30px;

    li {
      line-height: 30px;

      &.search {
        border-left:1px solid $orange;
        padding-left:10px;
        line-height: 30px;
        height: 30px;
      }
      &.text {
        font-family: $ubuntu;
        font-size: 16px;
        text-transform: uppercase;
        color: $orange;
      }
      list-style:none;
      display: block;
      float: left;
      margin-right:10px;
      a {
        display: block;
        line-height: 30px;
        height: 30px;
        color: $grey;
        font-size: 20px;
        @include transition(.2s);
        &:hover {
          color: $orange;
        }
      }
    }
  }
}

#small-hero {
  opacity: 0.9;
  position:fixed;
  @include transition(.2s);
  &.internal {
    position: static;
  }
  &.fixed {
    top:0;
    z-index: 90;
  }
  top:-140px;
  border-bottom:2px solid $orange;
  width:100%;
  height: 128px;
  background: url(../img/small-me.png) white bottom right no-repeat;
  h1 {
    font-family: $ubuntu;
    font-size: 24px;
    color: $orange;
    font-weight: 500;
    line-height: 30px;
    margin-top:20px;
  }

  .ctas {
    margin-top:30px;
    ul {
      margin:0;
      padding:0;
      li {
        &:first-child {
          &:before {
            display: block;
          }
        }
        &:before {
          display: none;
        }
        &:hover {
          color: $orange;
          a {
            color: $orange;
          }
          &:before {
            color: $orange;
          }
        }
        padding:0;
        margin-left:0;
        list-style: none;
        float: left;
        margin-right:5px;
        font-family: $ubuntu;
        font-size: 16px;
        line-height:24px;

        @include uppercase;
        a {
          color: $orange;
          @include transition(.2s);
          display: block;
          border-radius:5px;
          padding:5px 10px;
          border:2px solid white;

          &:hover {
            color: $grey;
            border-radius:5px;
            border:2px solid $grey;
          }
        }

        &:first-child {
          a {
            display: block;
            padding:5px 10px 5px 0;
            border:2px solid white;
            color: $grey;
            float: left;
            &:hover {
              color: $orange;
              &:before {
                color: $orange;
              }
            }
          }
          &:before {
            float: left;
            text-indent: 0;
            line-height: 37px;
            font-family: "me";
            margin-right: 10px;
          }

        }
      }
    }
  }
}

#hero {
  .internal-menu {
    ul {
      margin:0;
      padding:0;
      li {
        &:first-child {
          &:before {
            display: block;
          }
        }
        &:before {
          display: none;
        }
        &:hover {
          a {
            color: $orange;
          }
          &:before {
            color: $orange;
          }
        }
        padding:0;
        margin-left:0;
        list-style: none;
        float: left;
        margin-right:5px;
        font-family: $ubuntu;
        font-size: 16px;
        line-height:24px;

        @include uppercase;
        a {
          color: $orange;
          @include transition(.2s);
          display: block;
          border-radius:5px;
          padding:5px 10px;
          border:2px solid white;

          &:hover {
            color: $grey;
            border-radius:5px;
            border:2px solid $grey;
          }
        }

        &:first-child {
          a {
            display: block;
            padding:5px 10px 5px 0;
            border:2px solid white;
            color: $grey;
            float: left;
            &:hover {
              color: $orange;
              &:before {
                color: $orange;
              }
            }
          }
          &:before {
            float: left;
            text-indent: 0;
            line-height: 37px;
            font-family: "me";
            margin-right: 10px;
          }

        }
      }
    }
  }
  background: url(../img/me.png) bottom right no-repeat;
  .icon-mail {
    font-size: 24px;
    font-family: $ubuntu;
    text-transform: uppercase;
    &:before {
      font-family: "me";
      margin-right:10px;
    }
  }

  h1 {
    /* Ciao,: */
    font-family: $ubuntu;
    font-size: 80px;
    color: $orange;
    font-weight: 500;
    line-height: 80px;
    margin-top:25px;
  }
  h3 {
    /* BENVENUTI NEL MIO BL: */
    font-family: Ubuntu;
    font-size: 24px;
    color: $orange;
    font-weight: 300;
    line-height: 24px;
    text-transform: uppercase;
  }

  .desc {
    margin-top:70px;
    p {
      font-family: $ubuntu;
      font-weight: 300;
      font-size: 18px;
      color: $grey;
      line-height: 32px;
      &:last-child {
        font-weight: 500;
        color: $orange;
        text-transform: uppercase;
      }
    }
  }

  .cv_desc {
    margin-top:50px;
    p {
      font-family: $ubuntu;
      font-weight: 300;
      font-size: 18px;
      color: $grey;
      line-height: 32px;
    }
  }

  .ctas {
    margin-top:45px;
    .home-links {
      margin:0;
      padding:0;
      li {
        float:left;
        list-style: none;
        margin-left:0;
        padding:0;
        a {
          padding:18px 55px;
          border:2px solid $grey;
          color: $grey;
          text-transform: uppercase;
          font-size:20px;
          line-height: 24px;
          background:none;
          border-radius:10px;
          font-family: $ubuntu;
          margin-right:20px;
          @include transition(.2s);
          &:hover {
            background:none;
            border-color:$orange;
            color: $orange;
          }
        }
      }
    }
  }

  .bottom-contact-down {
    position:absolute;
    width:100%;
    bottom:50px;

    #further {
      display: block;
      position: absolute;
      width:50px;
      height: 50px;
      top:0;
      @include transition(.2s);
      &:after {
        font-family: 'me';
        font-size: 40px;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\e601";

      }

      &:hover {
        top:10px;
      }
    }
  }


}

#topics {
  border-top:2px solid $orange;
  background: white;
  padding:30px 0;
  h2 {
    font-family: 'Georgia';
    font-size: 20px;
    line-height: 20px;
    font-style: italic;
    color: $orange;
    margin-right: 5px;
    float:left;
  }

  a {
  color: $grey;
  font-family:$ubuntu;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  @include transition(.2s);
    &:hover {
      color: $orange;
    }
  }

}

#articles {
  background:white;
  article {
    padding-bottom:160px;
    border-bottom:4px solid #aaa;
    &:hover {
      .image-wrapper {
        .overlay {
          opacity: 1;
          background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.79) 86%, rgba(0,0,0,0.8) 87%); /* FF3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(86%,rgba(0,0,0,0.79)), color-stop(87%,rgba(0,0,0,0.8))); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.79) 86%,rgba(0,0,0,0.8) 87%); /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.79) 86%,rgba(0,0,0,0.8) 87%); /* Opera 11.10+ */
          background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.79) 86%,rgba(0,0,0,0.8) 87%); /* IE10+ */
          background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.79) 86%,rgba(0,0,0,0.8) 87%); /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 ); /* IE6-9 */
        }
        a {
          display: block;
          height: auto;
          width:100%;
        }
      }
    }
    .image-wrapper {
      position:relative;
      height: 740px;
      overflow: hidden;
      .overlay {
        @include transition(.2s);
        opacity: 0;
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right: 0;
        width:100%;
        height:740px;
        z-index:10;
        a {
          display: block;
          height: auto;
          min-height: 740px;
          width: 100%;
          position: relative;

        }
      }

      img {
        width:100%;
        height: auto;
        min-height: 740px;
        @include vertical-align-absolute;
      }
      .taxonomy {
        position:absolute;
        bottom:0;
        left:0;
        width:100%;
        z-index: 15;
        ul {
          margin:0;
          padding:0;
          li {
            margin-left:auto;
            margin-right:auto;
            margin-bottom:0!important;
            padding:0!important;
            list-style: none;
            @include uppercase;
            max-width: 280px;
            a {
              height: auto;
              min-height: auto;
              margin:0 auto;
              width:auto;
              text-align: center;
              background:white;
              display: block;
              padding:5px 0;
              font-family: $ubuntu;
              font-size:24px;
              @include transition(.2s);
              color: $grey;
              &:hover {
                color: $orange;
              }
            }

          }
        }

      }

    }
    .date {
      margin-top: 38px;
      text-align: center;
      .day {
        /* 24: */
        font-family: $ubuntu;
        font-size: 100px;
        color: $grey;
        line-height: 100px;
        display: block;
      }
      .month {
        display: block;
        /* SETTEMBRE: */
        font-family: $ubuntu;
        font-size: 22px;
        color: $orange;
        line-height: 26px;
        @include uppercase;
      }
    }
    .post {
      margin-top:40px;
      &:hover {
        .post-ctas {
          a.icon-circle-plus {
            &:hover {
              transform: scale(1.2);
              &:before {
                color: $grey;
              }
            }
          }
        }
      }
      h2 {
        /* Un bel titolo lungo : */
        font-family: $ubuntu;
        font-size: 36px;
        color: $orange;
        line-height: 42px;
        &:after {
          display: block;
          content:'';
          border-bottom:5px solid $orange;
          width:100px;
          height: 5px;
          margin:20px 0;
        }
      }
      .post-content {
        -webkit-column-count: 2;
        -webkit-column-gap: 20px;

        -moz-column-count: 2;
        -moz-column-gap: 20px;

        column-count: 2;
        column-gap: 20px;


      }
      .post-ctas {
        div {
          font-size: 24px;
          &:last-child {
            text-align: right;
            a.icon-circle-plus {
              display: block;
              position:relative;
              float: right;
              width:24px;
              height: 24px;
              @include transition(.2s);
              &:before {
                position:absolute;
                top:0;
                left:0;
              }

            }
          }
          a.icon-comments {
            font-family: $ubuntu;
            font-size: 20px;
            line-height: 20px;
            &:before {
              font-size: 24px;
              line-height: 24px;
              font-family: "me";
              margin-right: 5px;
            }
          }
        }

      }
    }
    &.video {
      .image-wrapper {
        .play-button {
          cursor: pointer;
          display: block;
          position:absolute;
          top:50%;
          left:50%;
          width:80px;
          height: 80px;
          margin-left:-40px;
          margin-top:-40px;
          z-index: 20;
          font-size: 80px;
          color: white;
          text-shadow: 0px 2px 5px rgba(38, 38, 38, 0.70);
          @include transition(.2s);
          &:hover {
            color: #ccc;
          }
        }
      }
    }
  }
}

#slides {
  background: $light-grey;
  border-top:4px solid $orange;
  padding-bottom: 40px;
  .title-section {
    margin-top: 40px;
    background: white;
    text-align: center;
    h1 {
      font-family: $ubuntu;
      font-size: 40px;
      line-height: 80px;
      height: 80px;
    }
  }
  article {
    figure {
      .overlay {
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background: rgba(0,0,0,0.1);
        z-index:100;
      }
      position: relative;
      padding:0;
      margin: 0;
      &:after {
        @include vertical-align-absolute;
        transform: rotate(45deg);
        width: 40px;
        height: 40px;
        background: white;
        display: block;
        color: white;
        content:'.';
        right:-20px;
        z-index:200;
      }
    }

    .content {
      background: white;
      padding:20px;
      position: relative;
      min-height: 450px;
      h4 {
        font-family: $ubuntu;
        text-transform: uppercase;
        color: $grey;
        font-weight: 100;
        font-size: 16px;
        line-height: 20px;
        margin-bottom:20px;
      }

      h2 {
        font-family: $ubuntu;
        color: $orange;
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 40px;
      }

      .bottom-details {
        height: 30px;
        width:100%;
        position: absolute;
        bottom:20px;
        font-family: $ubuntu;
        text-transform: uppercase;
        color: ligthen($grey, 20%);
        font-weight: 100;
        font-size: 16px;
        line-height: 20px;
        .tags {
          height: 30px;
          width: 70%;
          float: left;
          margin:0;
        }
        .date {
          height: 30px;
          width: 20%;
          float: right;
        }
      }
    }
  }


  article:nth-child(odd) {
    figure {
      float: right;
      &:after {
        left:-20px;
      }
    }

    .content {
      float: left;
    }
  }
}

#fixed-article-header {
  z-index: 100;
  margin-top:0px;
  position:fixed;
  background:$orange;
  color: white;
  width:100%;
  height: 0px;
  opacity: 0;

  .social-share {

    h4 {
      margin-top:0;
      font-family: $ubuntu;
      text-transform: uppercase;
      font-size: 16px;
      color:white;
      float: left;
      line-height: 40px;
    }

    ul {
      float: left;
      line-height: 40px;
      margin:0;
      margin-left:20px;
      li {
        list-style: none;
        float: left;
        line-height: 40px;
        height: 40px;
        margin-right:10px;
        &:last-child {
          margin-right: 0;
        }
        a {
          display: block;
          line-height: 40px;
          height: 40px;
          font-size: 18px;
          color: white;

        }
      }
    }
  }

  br {
    &:before {
      content: ' ';
      display: block;
    }
    display: none;
  }
  @include transition(.2s);
  &.fixed {
    height: 40px;
    opacity: 1;
  }
  h2 {
    font-family: $ubuntu;
    font-size: 20px;
    a {
      color: white;
    }
  }
  .date {
    font-family: $ubuntu;
    line-height:36px;
    .day {
      font-size: 20px;
    }
    .month {
      font-size: 12px;
    }
  }
}

#article {
  position:relative;

  .sliding-share {
    z-index: 9999999999;
    width:120px;
    height:55px;
    position: fixed;
    bottom:66px;
    right:-120px;
    background:rgba(255,255,255,0.8);
    @include transition(.2s);
    h4 {
      font-family: $ubuntu;
      font-size: 14px;
      color: $grey;
      margin:0;
      margin-bottom:5px;
      text-transform: uppercase;
    }
    ul {
      margin:0;
      list-style: none;
      li {
        float: left;
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    padding:5px 10px;
    &.appeared {
      right:0;
    }
  }
  margin-top:128px;
  background: white;
  .image-wrapper {
    position:relative;
    width:100%;
    height:740px;
    overflow: hidden;
    .taxonomy {
      position:absolute;
      top:0;
      left:0;
      width:100%;
      z-index: 15;

      ul {
        margin:0;
        padding:0;
        li {
          margin-left:auto;
          margin-right:auto;
          list-style: none;
          @include uppercase;
          max-width: 250px;
          a {
            height: auto;
            margin:0 auto;
            width:auto;
            text-align: center;
            background:white;
            display: block;
            padding:5px 0px;
            font-family: $ubuntu;
            font-size:24px;
            @include transition(.2s);
            color: $grey;
            &:hover {
              color: $orange;
            }
          }

        }
      }
    }



    img {
      position: absolute;
      width:100%;
      height: auto;
      min-height: 740px;
    }
    .overlay {
      /* Rectangle 7: */
      position:absolute;
      z-index: 10;
      width:100%;
      height: auto;
      min-height: 740px;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+86&amp;0+0,0.8+87 */
      background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.79) 86%, rgba(0,0,0,0.8) 87%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(86%,rgba(0,0,0,0.79)), color-stop(87%,rgba(0,0,0,0.8))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.79) 86%,rgba(0,0,0,0.8) 87%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.79) 86%,rgba(0,0,0,0.8) 87%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.79) 86%,rgba(0,0,0,0.8) 87%); /* IE10+ */
      background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.79) 86%,rgba(0,0,0,0.8) 87%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 ); /* IE6-9 */
      a {
        min-height: 740px;
        height: auto;
        display: block;

      }
    }

    .title-date {
      position:absolute;
      bottom:20px;
      left:0;
      width: 100%;
      z-index: 30;
      .date {
        text-align: center;
        .day {
          /* 24: */
          font-family: $ubuntu;
          font-size: 120px;
          color: white;
          line-height: 120px;
          display: block;
        }
        .year,
        .month {
          display: block;
          /* SETTEMBRE: */
          font-family: $ubuntu;
          font-size: 22px;
          color: white;
          line-height: 26px;
          @include uppercase;
        }
      }

      h2 {
        /* Un bel titolo lungo : */
        font-family: $ubuntu;
        font-size: 48px;
        color: white;
        line-height: 56px;
        a {
          color: white;
        }

      }

    }
  }
  .post-excerpt {
    font-family: $ubuntu;
    color: $orange;
    font-weight: 300;
    margin-top:50px;
    -webkit-column-count: 2;
    -webkit-column-gap: 40px;

    -moz-column-count: 2;
    -moz-column-gap: 40px;

    column-count: 2;
    column-gap: 40px;
    p {
      font-weight: 300;
      font-style:italic;
    }

  }
  .post-ctas {
    div {
      margin-top:50px;
      font-size: 24px;
      &:last-child {
        text-align: center;
        a.icon-circle-plus {
          display: block;
          position:relative;
          float: right;
          width:24px;
          height: 24px;
          @include transition(.2s);
          &:before {
            position:absolute;
            top:0;
            left:0;
          }

        }
      }
      a.icon-comments {
        font-family: $ubuntu;
        font-size: 20px;
        line-height: 20px;
        &:before {
          font-size: 24px;
          line-height: 24px;
          font-family: "me";
          margin-right: 5px;
        }
      }
    }

  }
  .internal-image {
    margin:20px auto;
    .image-desc {
      min-height: 380px;
      position:relative;
      h4 {
        font-family: $ubuntu;
        font-weight: 500;
        font-size: 22px;
        color: $grey;
        margin-left:20px;
        &:after {
          margin-top:20px;
          content:' ';
          display: block;
          width:50px;
          border-bottom:5px solid $orange;
        }
      }

      .fig-number {
        font-family: "Georgia";
        color: $orange;
        font-style: italic;
        position:absolute;
        bottom:0;
        left:20px;
      }
    }
  }

  .article-content {
    margin:40px auto 80px auto;
    p:first-child:first-letter {
      font-family: $ubuntu;
      font-size: 120px;
      font-weight: 500;
      color: $orange;
      line-height: 130px;
      float:left;
      margin-top:10px;
      margin-right:20px;
    }
    p {
      font-size: 18px;
      line-height:30px;
      color: $grey;
      font-style: normal;
      font-family: "Georgia";
      -webkit-column-count: 1 !important;
      -webkit-column-gap: 0 !important;

      -moz-column-count: 1 !important;
      -moz-column-gap: 0 !important;

      column-count: 1 !important;
      column-gap: 0 !important;

    }

    &:first-letter {
      font-family: $ubuntu;
      font-size: 120px;
      font-weight: 500;
      color: $orange;
      line-height: 130px;
      float:left;
      margin-top:10px;
      margin-right:20px;
    }
    font-size: 18px;
    line-height:30px;
    color: $grey;
    font-style: normal;
    font-family: "Georgia";
    -webkit-column-count: 1 !important;
    -webkit-column-gap: 0 !important;

    -moz-column-count: 1 !important;
    -moz-column-gap: 0 !important;

    column-count: 1 !important;
    column-gap: 0 !important;

    blockquote {
      p:first-child:first-letter {
        font-family: $ubuntu;
        font-size: 60px;
        color: $orange;
        line-height: 70px;
        float:none;
        margin:0;
      }
      border:none;
      margin:80px 0;
      padding:0;
      position:relative;
      p {
        /* Rectangle 8: */
        /* Un bel titolo lungo : */
        font-family: $ubuntu;
        font-size: 60px;
        color: $orange;
        line-height: 70px;
        /* “: */
        &:after {
          position:absolute;
          top:-120px;
          left:-150px;
          content:"“";
          font-family: Georgia;
          font-style: italic;
          font-weight: bold;
          font-size: 240px;
          color: #DEDEDE;
          line-height: 341px;
        }
      }
      span {
        display: block;
        float:left;
        color: $grey;
        font-style: italic;
        &:after {
          float:left;
          content:' ';
          width:100px;
          height: 5px;
          margin-top:10px;
          margin-right:20px;
          background:$orange;
        }
      }
    }

    h2 {
      font-family: $ubuntu;
      font-size: 28px;
      color: $grey;
    }

    h3 {
      font-family: "Georgia";
      font-size:24px;
      font-style: italic;
      color: $orange;
    }
  }
}

.category {
  #topics {
    margin-top:128px;
  }
}

.tags {
  margin:10px 0;
  font-family: $ubuntu;
  text-transform: uppercase;
  color: $orange;
  &:before {
    font-family: "me";
  }
}

.single {
  .tags {
    color: white !important;
    a {
      color: white;
    }
  }
}

#job_experience {
  background: white;
  .intermediate {
    background: $orange;
    text-align: center;
    @include uppercase;
    color: white;
    font-family: $ubuntu;
    font-size: 24px;
    padding:20px;
  }

  .job_item {
    padding:40px auto;
    .years {
      padding:40px 20px;
      position: relative;
      h4 {
        font-family: $ubuntu;
        font-size: 24px;
        line-height: 24px;
        text-align: right;
      }

      &:after {
        content: ' ';
        width:20px;
        height: 20px;
        border-radius: 50%;
        position: absolute;
        top:40%;
        right:-11px;
        background: white;
        border:2px solid #999;
        z-index:10;
      }
    }
    .job_position {
      border-left:2px solid #999;
      padding:40px 20px;
      h2 {
        font-family: "Georgia";
        font-style: italic;
        font-size: 36px !important;
        line-height: 36px;
        margin:0;
        color: $grey;
      }
      .position_desc {
        margin-top:20px;
        width:70%;
        font-size:18px;
        line-height: 30px;
      }
      h3 {
        font-family: $ubuntu;
        font-size: 24px;
        line-height: 24px;
        @include uppercase;
      }
    }
  }

}

.archive {
  #topics {
    border:0;
    margin-top:150px;
    position: relative;

    h1 {
      text-align: center;
      font-family: $ubuntu;
      font-size:60px;

    }
    ul {
      li {
        list-style-type: none;
        a {
          font-size:60px;
        }
      }
    }
  }
}

footer {
  background:white;
  padding:20px 0;
  border-top:1px solid $light-grey;
  .info {
    background:white;
    color: #999;
    text-align: center;
    font-family: $ubuntu;
  }
}

button.alm-load-more-btn {
    font-size: 16px;
    height: 42px;
    line-height: 38px;
    background: none repeat scroll 0% 0% !important;
    color: $grey!important;
    border: 2px solid $grey!important;
    border-radius: 5px!important;
    text-transform: uppercase!important;
    font-family: $ubuntu!important;
    font-weight: 500!important;
    &:hover {
      background: none!important;
      border-color:$orange!important;
      color: $orange!important;
    }
}

.mobile-dates {
    span {
      font-family:$ubuntu;
      font-size:18px;
      text-transform: uppercase;
    }
}

.post-ctas {
  div {
    a.icon-comments {
      font-size:18px;
      &:before {
        font-size:20px;
      }
    }
  }
}

.related-title {
  font-family: $ubuntu;
  font-size: 28px;
  text-transform: uppercase;
  color: $grey;
  margin-bottom:20px;
  text-align: center;
}

.single-related-news {
  .image-wrapper {
    position:relative;
    width:100%;
    height:740px;
    overflow: hidden;
    .taxonomy {
      display: none;
    }



    img {
      position: absolute;
      width:100%;
      height: auto;
      min-height: 740px;
    }
    .overlay {
      /* Rectangle 7: */
      position:absolute;
      z-index: 10;
      width:100%;
      height: auto;
      min-height: 740px;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+86&amp;0+0,0.8+87 */
      background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.79) 86%, rgba(0,0,0,0.8) 87%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(86%,rgba(0,0,0,0.79)), color-stop(87%,rgba(0,0,0,0.8))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.79) 86%,rgba(0,0,0,0.8) 87%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.79) 86%,rgba(0,0,0,0.8) 87%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.79) 86%,rgba(0,0,0,0.8) 87%); /* IE10+ */
      background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.79) 86%,rgba(0,0,0,0.8) 87%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 ); /* IE6-9 */
      a {
        min-height: 740px;
        height: auto;
        display: block;

      }
    }

    .title-date {
      position:absolute;
      bottom:20px;
      left:0;
      width: 100%;
      z-index: 30;
      .date {
        text-align: center;
        .day {
          /* 24: */
          font-family: $ubuntu;
          font-size: 120px;
          color: white;
          line-height: 120px;
          display: block;
        }
        .year,
        .month {
          display: block;
          /* SETTEMBRE: */
          font-family: $ubuntu;
          font-size: 22px;
          color: white;
          line-height: 26px;
          @include uppercase;
        }
      }

      h2 {
        /* Un bel titolo lungo : */
        font-family: $ubuntu;
        font-size: 48px;
        color: white;
        line-height: 56px;
        a {
          color: white;
        }

      }

    }
  }
  .post-excerpt {
    font-family: $ubuntu;
    color: $orange;
    font-weight: 300;
    margin-top:50px;
    -webkit-column-count: 2;
    -webkit-column-gap: 40px;

    -moz-column-count: 2;
    -moz-column-gap: 40px;

    column-count: 2;
    column-gap: 40px;
    p {
      font-weight: 300;
      font-style:italic;
    }

  }
  .post-ctas {
    div {
      margin-top:50px;
      font-size: 24px;
      &:last-child {
        text-align: center;
        a.icon-circle-plus {
          display: block;
          position:relative;
          float: right;
          width:24px;
          height: 24px;
          @include transition(.2s);
          &:before {
            position:absolute;
            top:0;
            left:0;
          }

        }
      }
      a.icon-comments {
        font-family: $ubuntu;
        font-size: 20px;
        line-height: 20px;
        &:before {
          font-size: 24px;
          line-height: 24px;
          font-family: "me";
          margin-right: 5px;
        }
      }
    }

  }
}


.search-form {
  position: fixed;
  top: 0px;
  left: 0;
  bottom: 0;
  right: 0;
  height: auto;
  background-color: rgba(0,0,0,0.8);
  z-index: 99999;
  visibility: hidden;
  opacity: 0;
  font-family: $ubuntu;
  @include transition(.3s);

  &.sticky {
    top: 60px;
    left: 0;
    bottom: 0;
    right: 0;
    height: 360px;
  }

  &.active {
    visibility: visible;
    opacity: 1;
  }

  .close-search-form {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    right: 0px;
    top: 0px;
    z-index: 100;
    cursor: pointer;
    @include transition(.1s);

    &:hover {
      background-color: white;
    }

    &:active {
      background-color: white;
      @include scale(.8);
    }

    &:after {
      content: "";
      display: block;
      height: 5px;
      width: 50px;
      background-color: $orange;
      position: absolute;
      top: 50px;
      left: 25px;
      @include rotate(45deg);
    }

    &:before {
      content: "";
      display: block;
      height: 5px;
      width: 50px;
      background-color: $orange;
      position: absolute;
      top: 50px;
      left: 25px;
      @include rotate(-45deg);
    }
  }

  form {
    margin: 0;
    position: absolute;
    top: 50px;
    left: 50px;
    bottom: 50px;
    right: 50px;

    label {
      font-size: 18px;
      color: #eee;
      cursor: default;
      display: block;
      font-weight: normal;
      margin-bottom: 0px;
    }

    input[type="text"] {
      background: transparent;
      border: none;
      height: 150px;
      padding: 0;
      margin: 20px 0;
      font-size: 100px;
      color: #eee;
      line-height: 150px;
      font-weight: 600;
      letter-spacing: 5px;

      &:focus {
        outline: none;
        border: none;
        box-shadow: none;
      }
    }

    input[type="submit"] {
      border: 2px solid white;
      font-family: $ubuntu;
      background: transparent;
      padding: 10px 50px;
      color: white;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 20px;
      @include border-radius(10px);
      @include transition(.2s);

      &:hover {
        border-color: $orange;
        color: $orange;
      }
    }
  }
}

#search-result {
  padding-top:240px;
  background: none;
  counter-reset: post;

  .no-results {
    h2 {
      font-family: "Georgia";
      font-style: italic;
      color:$grey;
      opacity: 0.4;
    }
  }


  h1.title {
    font-family: $ubuntu;
    color: $grey;
    strong {
      color: $orange;
      display: block;
    }
  }
  .back-white {
    background-color: white;
    padding: 100px 0;
  }

  .post {
    margin-bottom: 20px;
    position: relative;

    &:before {
      counter-increment: post;
      content: counter(post);
      position: absolute;
      top: 8px;
      left: -50px;
      font-size: 40px;
      line-height: 30px;
    }
    h2 {
      font-family: $ubuntu;
      a {
        color: $orange;
        @include transition (0.2s);
        &:hover {
          color: $grey;
        }
      }
    }
    .post-excerpt {
      p {
        margin: 0;
      }
    }
  }
}



@import "twitter.scss";
@import "media.scss";
